<!-- Header Section -->
<header>
    <div class="container">
        <div class="logo">
            <a href="../index.html">
                <img src="../img/hero.1280X1280 copy.PNG" alt="Nguyên Sinh Logo">
            </a>
        </div>
        <nav>
            <ul class="main-menu">
                <li><a href="../index.html" id="nav-home">Trang Chủ</a></li>
                <li><a href="about.html" id="nav-about">Giới Thiệu</a></li>
                <li><a href="menu.html" id="nav-menu">Thực Đơn</a></li>
                <li><a href="order.html" id="nav-order">Đặt Hàng</a></li>
                <li><a href="blog.html" id="nav-blog">Tin Tức</a></li>
                <li><a href="datban.html" id="nav-reservation">Đặt Bàn</a></li>
                <li><a href="locations.html" id="nav-locations">Cửa Hàng</a></li>
                <li><a href="account.html" id="nav-account">Tài Khoản</a></li>
                <li><a href="cart.html" id="nav-cart">Giỏ hàng <span class="cart-count">0</span></a></li>
            </ul>
            <div class="mobile-menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </div>
</header>